.comments {
  background: white;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  padding: 2rem 1.3rem .3rem 1.3rem;
  overflow-y: auto;
}

.detalhes {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  color: #333;
  opacity: 0.5;
}

.autor {
  
}

.visualizacao::before {
  background-image: url('../../../../public/Assets/visualizacao-black.svg');
  display: block;
  content: '';
  height: 10px;
  width: 16px;
}

.visualizacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
}

.idadePeso {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.idadePeso span {
  display: flex;
  gap: .4rem;
}

.idadePeso span::before {
  height: 20px;
  width: 2px;
  content: '';
  display: block;
  background-color: #333;
}

.commentsUsers {
  overflow-y: auto;
  align-self: flex-start;
  margin-top: 1rem;
  max-height: 100%;
  margin-bottom: 2vh;
}

.commentsUsers li > div > span{
  color: #333;
  font-weight: bold;
}

.commentsUsers li {
  margin-top: .6vh;
}

.inputComment {
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr;
  gap: .8rem;
}

.inputComment textarea{
  height: 100%;
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid transparent;
  background-color: #eee;
  padding: .5rem;
  border-radius: .2rem;
  font-size: 1.2rem;
}

.inputComment textarea:hover,
.inputComment textarea:focus
{
  border: 1px solid transparent;
  background-color: white;
  transition: .4s;
  box-shadow: 0px 0px 0px 1.5px var(--amarelo), 0px 0px 1px 4px var(--amarelo-claro);
}

.inputComment textarea::placeholder {
  font-size: 1.2rem;
  font-family: var(--type-first);
}

.inputComment button {
  align-self: center;
  justify-self: center;
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
}

.inputComment svg {
  height: 41px;
  width: 53px;
  cursor: pointer;
}

.inputComment svg:hover path {
  fill: var(--amarelo-claro);
  stroke: var(--amarelo);
  transition: .2s;
}

.inputComment svg:hover > g > path{
  fill: var(--amarelo-claro);
  animation: latindo .8s infinite;
}

@keyframes latindo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 60rem) {
  .comments {
    height: auto;
  }
}