.graficos {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.graficos p {
  grid-column: span 2;
  height: 6.25rem;
  background-color: white;
  font-size: 32px;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding-left: 2vw;
}

.graficos div {
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  padding: 12px;
  border-radius: 8px;
}

@media (max-width: 40rem) {
  .graficos {
    grid-template-columns: 1fr;
  }
  .graficos p {
    grid-column: initial;
  }
}